*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;

  flex-direction: column;
 
  height: 100%;
  width:100% ;
}

@font-face {
  font-family: "digital-7";
  src: url("./Fonts/digital-7.ttf") format("truetype");
}

.container{
  display: flex;
  
  overflow: hidden;
  width: 350px;
  height: 350px;
  background-color: #1fc464;
  flex-direction: column;
  
  font-size: 25px;

  align-items: center;
  border-radius: 50%;
  border: 10px solid rgb(9, 245, 147);

}

.screen{
  display: flex;
  font-family: Digital-7;
  height: 110px;
  width: 200px;
  background-color: #1fc464;
  font-size: 30px;

  border-radius: 5px;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  line-height: 30px;
  font-weight: bold;
}

.text{
  display: flex;
  width:  280px;
  height: 30px;
  justify-content: space-around;
  
}

.volume {
  display:flex;
  width: 44vh;
  height: 100px;
  margin: 5px;
  display: flex;
}
.work-volume , .break-volume{
  display: flex;
  flex-direction: column;
  width: 24vh ;
}
#min-w , #min-b{
  border-radius: 0% 0% 50% 50%;
  
}
#plus-w , #plus-b{
  border-radius: 50% 50% 0% 0% ;
}

.resetBtn{
  display: none;
  top: 34vh;
  text-align: center;
  justify-content: center;
  width: 44vh;
  height: 50px;
  
}
.startBtn{
  top: 34vh;
  text-align: center;
  justify-content: center;
  width: 44vh;
  height: 50px;
  
}
#demoBtn{
  width: 250px;
  align-self: center;
}
.changeColor {
  
  background: linear-gradient(to top,green 0%,green 50%, blue 50% ,blue 100%);
  background-size: 100% 200%;
  overflow: hidden;
  /* position: relative; */
  animation: changeColor 60s linear infinite;
}

@keyframes changeColor {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 200%;
  }
}

@keyframes unset-changeColor {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
